<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/DNA.styles.css" asp-append-version="true"/>

  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body hx-boost="true" hx-select=".main-container" hx-target=".main-container" hx-swap="innerHTML show:no-scroll" x-data="{showModal: false}">
<partial name="_Nav"/>

<div class="main-container">
  @RenderBody()
</div>

<partial name="_Modal"/>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    window.addEventListener("load", function () {
      document.body.addEventListener("close-login-modal", function () {
        document.getElementsByTagName("BODY")[0]._x_dataStack[0].$data.showModal = false;

        /// TODO 
        // couldn't find any way to make logout work after login without a full page refresh using all standard asp.net methods.
        // The problem is with the anti forgery token.
        // maybe we can try having htmx do a full page swap if login success and swap only the form on error?
    
        window.location.reload();
      });
    });
  </script>

@await RenderSectionAsync("Scripts", false)
</body>

</html>
