@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="flex-col-centerv h-screen mt-33" style="text-align: center;">
  <h1 style="color: var(--primary-color);" class="mb-10">HTMX + Alpine Js + ASP.NET Starter Template</h1>
  <p>Simple starter template with HTMX + Alpine Js frontend and ASP.NET Core Razor Pages backend.</p>
  <p>This template uses JWT authentication with refresh tokens.</p>
</div>
